body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    background: url(images/LLM.jpg) no-repeat center center fixed;;
    background-size: cover;

}

.body{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 100px auto;
    height: auto;

}
h1 {
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.row{
    height: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.column{
    flex-direction: row;
    align-items: center;
   background-color: red;
}

label {
    display: block;
}

input[type="radio"] {
    margin-right: 10px;
    align-items: center;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button {
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #5cb85c;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
    width: auto;

}

button:hover {
    margin-top: 50px;
    background-color: #000c00;
    color: #fff;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    width: auto;

}


/* Spinner Styles */
#loadingSpinner {
    display: none;
    position: absolute;
    z-index: 1000;
    margin-top: 140px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
